<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Guruhlar</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="navbar">...</div>

<div class="container">
    <div class="page-title">Guruhlar</div>

    <div class="filters">
        <select>
            <option>Dars kunlari</option>
            <option>ODD</option>
            <option>EVEN</option>
        </select>
        <select>
            <option>Mentor</option>
            <option>Akmal Ismoilov</option>
        </select>
    </div>

    <div class="table-box">
        <table>
            <tr>
                <th>Guruh</th>
                <th>Kurs</th>
                <th>Mentor</th>
                <th>Dars kunlari</th>
                <th>Sana</th>
            </tr>
            <tr>
                <td>Python-01</td>
                <td>Python</td>
                <td>Akmal</td>
                <td>ODD</td>
                <td>2024-10-01</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
