<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Bosh sahifa</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="navbar">
    <h1>Mini LMS</h1>
    <div>
        <a href="home.html">Bosh sahifa</a>
        <a href="students.html">O‘quvchilar</a>
        <a href="mentors.html">Mentorlar</a>
        <a href="courses.html">Kurslar</a>
        <a href="groups.html">Guruhlar</a>
    </div>
</div>

<div class="container">
    <div class="page-title">Bosh sahifa</div>

    <div class="stats">
        <div class="stat-card">
            <span>Jami o‘quvchilar</span>
            <h2>120</h2>
        </div>
        <div class="stat-card">
            <span>Faol o‘quvchilar</span>
            <h2>95</h2>
        </div>
        <div class="stat-card">
            <span>Mentorlar</span>
            <h2>8</h2>
        </div>
        <div class="stat-card">
            <span>Faol guruhlar</span>
            <h2>6</h2>
        </div>
    </div>
</div>

</body>
</html>
