<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>O‘quvchilar</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="navbar">...</div>

<div class="container">
    <div class="page-title">O‘quvchilar</div>

    <div class="filters">
        <select>
            <option>Status</option>
            <option>ACTIVE</option>
            <option>INACTIVE</option>
            <option>FINISHED</option>
        </select>
        <input type="text" placeholder="Ism yoki telefon">
    </div>

    <div class="table-box">
        <table>
            <tr>
                <th>Ism</th>
                <th>Familiya</th>
                <th>Telefon</th>
                <th>Status</th>
                <th>Sana</th>
            </tr>
            <tr>
                <td>Ali</td>
                <td>Karimov</td>
                <td>+998901234567</td>
                <td>ACTIVE</td>
                <td>2024-09-01</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
